/* Specification */
html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
}

.content{
    padding-bottom: 140px;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

/* Screen Header */
.header {
    padding-top: 8px;
}

.brand {
    margin-top: -27px;
}
@media screen and (max-width: 480px) {
    .brand {
        margin-top: 0;
    }
}

.session-menu__item {
    margin: 0 8px;
}

.session-menu__item a {
    color: black;
    font-size: 22px;
}

.session-menu__shopping-bag {
    display: block;
    margin-top: 5px;
}

.dropdown {
    float: left;
    position: relative;
}

.dropdown-content {
    position: absolute;
    display: none;
    background-color: white;
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    font-size: 16px;
    display: block;
    float: none;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd; /*grey background color to dropdown links on hover*/
}

.session-menu__item .dropdown:hover .dropdown-content {
    display: block;
}

.menu {
    font-size: 18px;
}

.menu__item {
    margin-right: 10px;
}

/* Screen Product list */
@media screen and (max-width: 480px) {
    #grid[data-columns]::before {
        content: '1 .col-12';
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    #grid[data-columns]::before {
        content: '2 .col-6';
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    #grid[data-columns]::before {
        content: '3 .col-4';
    }
}

@media screen and (min-width: 993px) {
    #grid[data-columns]::before {
        content: '4 .col-3';
    }
}

.product-list__product-name {
    height: 3rem;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link__product-name, .btn__product-edit, .btn__product-delete {
    color: black;
}

.product-list__actions form {
    display: inline;
}

/* Footer */
.footer {
    background-color: rgb(33, 37, 41);
    font-size: 14px;
}

.footer-menu__item a {
    color: white;
}

.footer-social__item a {
    color: white;
}

.copyright {
    text-align: center;
    font-size: 12px;
    color: rgb(134, 142, 150);
}
